{% extends 'CMS/base.html.twig' %}
{% block head_css %}
    {{ parent() }}
    <style>
        .box-body > .direct-chat-messages {
            min-height: 75vh;
        }

        .box-body > .direct-chat-contacts {
            min-height: 45vh;
        }

        .box-body.chat {
            height: 100% !important;
        }

    </style>
{% endblock %}

{% block head_scripts %} {% endblock %}
{% block content_wrapper %}
    <div class="row">
        <div class="col-md-3">
            <div class="box box-success">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="fa fa-comments-o"></i>

                    <h3 class="box-title">Firma</h3>

                </div>
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 80.6vh;">
                    <div class="box-body chat" id="chat-box" style="overflow: hidden; width: auto; height: 250px;">
                        {% for user in users if user.username != app.user.username %}
                            <div class="item" user-id="{{ user.id }}" user-username="{{ user.username }}">
                                <img src="https://ctvalleybrewing.com/wp-content/uploads/2017/04/avatar-placeholder.png"
                                     alt="user image"
                                     class="{% if user.isActiveNow() %}online{% else %}offline{% endif %}">

                                <p class="message">
                                    <a href="#" class="name">
                                        <small class="text-muted pull-right">{% if user.isActiveNow() == false %}<i
                                                    class="fa fa-clock-o"></i> {{ user.getLastActivityAt()|date('h:i') }}{% endif %}
                                        </small>
                                        {{ user.username ~ ' [ ' ~ user.name ~ ' ' ~ user.lastName ~ ' ]' }}
                                    </a>
                                    {% if user.isActiveNow() %}
                                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                                    {% else %}
                                        <a href="#"><i class="fa fa-circle text-red"></i> Offline</a>
                                    {% endif %}
                                </p>
                            </div>
                        {% endfor %}
                        <!-- /.item -->
                    </div>
                    <div class="slimScrollBar"
                         style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 184.911px;"></div>
                    <div class="slimScrollRail"
                         style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Direct Chat</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                        <!-- Message. Default to the left -->
                        <div class="direct-chat-msg">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-left">Alexander Pierce</span>
                                <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                            </div>
                            <!-- /.direct-chat-info -->
                            <img class="direct-chat-img"
                                 src="https://ctvalleybrewing.com/wp-content/uploads/2017/04/avatar-placeholder.png"
                                 alt="Message User Image"><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                Is this template really for free? That's unbelievable!
                            </div>
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                            </div>
                            <div class="direct-chat-text">
                                Is this template really for free? That's unbelievable!
                            </div>
                            <div class="direct-chat-text">
                                Is this template really for free? That's unbelievable!
                            </div>
                            <div class="direct-chat-text">
                                Is this template really for free? That's unbelievable!
                            </div>
                            <!-- /.direct-chat-text -->
                        </div>
                        <!-- /.direct-chat-msg -->

                        <!-- Message to the right -->
                        <div class="direct-chat-msg right">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-right">Sarah Bullock</span>
                                <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                            </div>
                            <!-- /.direct-chat-info -->
                            <img class="direct-chat-img"
                                 src="https://ctvalleybrewing.com/wp-content/uploads/2017/04/avatar-placeholder.png"
                                 alt="Message User Image"><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                You better believe it!
                            </div>
                            <!-- /.direct-chat-text -->
                        </div>
                        <!-- /.direct-chat-msg -->
                    </div>
                    <!--/.direct-chat-messages-->

                    <!-- Contacts are loaded here -->
                    <div class="direct-chat-contacts">
                        <ul class="contacts-list">
                            <li>
                                <a href="#">
                                    <img class="contacts-list-img"
                                         src="https://avatars1.githubusercontent.com/u/30959826?s=460&v=4"
                                         alt="User Image">

                                    <div class="contacts-list-info">
                            <span class="contacts-list-name">
                              Count Dracula <i class="fa fa-circle text-success"></i> Online
                              <small class="contacts-list-date pull-right">2/28/2015</small>

                            </span>
                                        <span class="contacts-list-msg">How have you been? I was...</span>
                                    </div>
                                    <!-- /.contacts-list-info -->
                                </a>
                            </li>
                            <!-- End Contact Item -->
                        </ul>
                        <!-- /.contatcts-list -->
                    </div>
                    <!-- /.direct-chat-pane -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <form action="#" method="post">
                        <div class="input-group">
                            <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                            <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat">Send</button>
                      </span>
                        </div>
                    </form>
                </div>
                <!-- /.box-footer-->
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_scripts %}
    {{ parent() }}
{% endblock %}
{% block ws_script %}
    <script>

        function getRoomName(from, to) {
            if (parseInt(from) < parseInt(to)) {
                return from + '&' + to;
            }
            return to + '&' + from;
        }

        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        function changeTimerByStatus($item, status, lastActivity) {
            if (status == "online") {
                $item
                    .find("small.text-muted.pull-right")
                    .remove();
            } else {
                $item
                    .find("a.name")
                    .append("<small class='text-muted pull-right'><i class='fa fa-clock-o'></i> " + lastActivity + "</small>")
            }
        }

        function changeColorAndTextOfUserStatus($item, status) {
            var classToAdd;
            var classToRemove;

            if (status == "online") {
                classToAdd = 'text-success';
                classToRemove = 'text-red';
            } else {
                classToAdd = 'text-red';
                classToRemove = 'text-success';
            }

            $item
                .find("i." + classToRemove)
                .parent()
                .html("<i class='fa fa-circle " + classToAdd + "'></i> " + capitalizeFirstLetter(status));
        }

        function setUserStatusByPayloadFromWS(person, status) {
            var id = person.id;
            var $item = $(".item[user-id=" + id + "]");

            $item
                .find("img[alt='user image']")
                .attr('class', status);

            changeTimerByStatus($item, status, person.lastActivity);
            changeColorAndTextOfUserStatus($item, status);
        }

        webSocket.on("socket/connect", function (session) {

            session.subscribe("active_users/channel", function (uri, payload) {
                console.log(payload);

                if (payload.joined) {
                    setUserStatusByPayloadFromWS(payload.joined, "online");
                }

                if (payload.left) {
                    setUserStatusByPayloadFromWS(payload.left, "offline");
                }
            });

            session.subscribe("chat/" + getRoomName("{{ app.user.id }}", "2"), function (uri, payload) {
                console.log(payload);
            });

            $("button[type='submit']").click(function (event) {
                event.preventDefault();
                var $input = $("input[name='message']");
                if ($input.val() != '') {
                    session.publish("chat/" + getRoomName("{{ app.user.id }}", "2"), {
                        'message': $input.val(),
                        'from': {{ app.user.id }},
                        'to': 2
                    });
                    $input.val('');
                }

            });

        });

        webSocket.on("socket/disconnect", function (error) {
            //error provides us with some insight into the disconnection: error.reason and error.code

            console.log("Disconnected for " + error.reason + " with code " + error.code);
        })
    </script>
{% endblock %}