{% extends 'CMS/base.html.twig' %}
{% block head_css %}
    {{ parent() }}
    <style>
        .box-body > .direct-chat-messages {
            min-height: 75vh;
        }

        .box-body > .direct-chat-contacts {
            min-height: 45vh;
        }

        .box-body.chat {
            height: 100% !important;
        }

    </style>
{% endblock %}

{% block head_scripts %} {% endblock %}
{% block content_wrapper %}
    <div class="row">
        <div class="col-md-3">
            <div class="box box-success">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="fa fa-comments-o"></i>

                    <h3 class="box-title">Firma</h3>

                </div>
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 80.6vh;">
                    <div class="box-body chat" id="chat-box" style="overflow: hidden; width: auto; height: 250px;">
                        {% for user in users if user.username != app.user.username %}
                            <div class="item" user-id="{{ user.id }}" user-username="{{ user.username }}">
                                <img src="https://ctvalleybrewing.com/wp-content/uploads/2017/04/avatar-placeholder.png"
                                     alt="user image"
                                     class="{% if user.isActiveNow() %}online{% else %}offline{% endif %}">

                                <p class="message">
                                    <a href="#" class="name">
                                        <small class="text-muted pull-right">{% if user.isActiveNow() == false %}<i
                                                    class="fa fa-clock-o"></i> {{ user.getLastActivityAt()|date('h:i') }}{% endif %}
                                        </small>
                                        {{ user.username ~ ' [ ' ~ user.name ~ ' ' ~ user.lastName ~ ' ]' }}
                                    </a>
                                    {% if user.isActiveNow() %}
                                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                                    {% else %}
                                        <a href="#"><i class="fa fa-circle text-red"></i> Offline</a>
                                    {% endif %}
                                </p>
                            </div>
                        {% endfor %}
                        <!-- /.item -->
                    </div>
                    <div class="slimScrollBar"
                         style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 184.911px;"></div>
                    <div class="slimScrollRail"
                         style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="box box-primary direct-chat direct-chat-primary" style="display: none">
                <div class="box-header with-border">
                    <h3 class="box-title">Direct Chat</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="direct-chat-messages">
                        {#<div class="direct-chat-msg">#}
                            {#<div class="direct-chat-info clearfix">#}
                                {#<span class="direct-chat-name pull-left">admin</span>#}
                                {#<span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>#}
                            {#</div>#}
                            {#<img class="direct-chat-img"#}
                                 {#src="https://ctvalleybrewing.com/wp-content/uploads/2017/04/avatar-placeholder.png"#}
                                 {#alt="Message User Image">#}
                            {#<div class="direct-chat-text">#}
                                {#Is this template really for free? That's unbelievable!#}
                            {#</div>#}
                            {#<div class="direct-chat-info clearfix">#}
                                {#<span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>#}
                            {#</div>#}
                            {#<div class="direct-chat-text">#}
                                {#Is this template really for free? That's unbelievable!#}
                            {#</div>#}
                            {#<div class="direct-chat-text">#}
                                {#Is this template really for free? That's unbelievable!#}
                            {#</div>#}
                            {#<div class="direct-chat-text">#}
                                {#Is this template really for free? That's unbelievable!#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="direct-chat-msg right">#}
                            {#<div class="direct-chat-info clearfix">#}
                                {#<span class="direct-chat-name pull-right">admin2</span>#}
                                {#<span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>#}
                            {#</div>#}
                            {#<img class="direct-chat-img"#}
                                 {#src="https://ctvalleybrewing.com/wp-content/uploads/2017/04/avatar-placeholder.png"#}
                                 {#alt="Message User Image"><!-- /.direct-chat-img -->#}
                            {#<div class="direct-chat-text">#}
                                {#You better believe it!#}
                            {#</div>#}
                        {#</div>#}
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <form action="#" method="post">
                        <div class="input-group">
                            <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                            <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat">Send</button>
                      </span>
                        </div>
                    </form>
                </div>
                <!-- /.box-footer-->
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_scripts %}
    {{ parent() }}
{% endblock %}
{% block ws_script %}
    <script>

        function getRoomName(from, to) {
            if (parseInt(from) < parseInt(to)) {
                return from + '&' + to;
            }
            return to + '&' + from;
        }

        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        function changeTimerByStatus($item, status, lastActivity) {
            if (status == "online") {
                $item
                    .find("small.text-muted.pull-right")
                    .remove();
            } else {
                $item
                    .find("a.name")
                    .append("<small class='text-muted pull-right'><i class='fa fa-clock-o'></i> " + lastActivity + "</small>")
            }
        }

        function changeColorAndTextOfUserStatus($item, status) {
            var classToAdd;
            var classToRemove;

            if (status == "online") {
                classToAdd = 'text-success';
                classToRemove = 'text-red';
            } else {
                classToAdd = 'text-red';
                classToRemove = 'text-success';
            }

            $item
                .find("i." + classToRemove)
                .parent()
                .html("<i class='fa fa-circle " + classToAdd + "'></i> " + capitalizeFirstLetter(status));
        }

        function setUserStatusByPayloadFromWS(person, status) {
            var id = person.id;
            var $item = $(".item[user-id=" + id + "]");

            $item
                .find("img[alt='user image']")
                .attr('class', status);

            changeTimerByStatus($item, status, person.lastActivity);
            changeColorAndTextOfUserStatus($item, status);
        }

        function subscribeToChannel(session, receiverId) {
            session.subscribe("chat/" + getRoomName("{{ app.user.id }}", receiverId), function (uri, payload) {
                console.log(payload);
            });
        }

        function publishToChannel(session, receiverId) {
            $("button[type='submit']").click(function (event) {
                event.preventDefault();

                var $input = $("input[name='message']");
                var date = new Date();
                var element = {
                    side: 'right',
                    time: date.getHours() + ":" + date.getMinutes(),
                    message: $input.val(),
                    to: "{{ app.user.username }}"
                };
                appendRightMessage(element);

                if ($input.val() != '') {
                    session.publish("chat/" + getRoomName("{{ app.user.id }}", receiverId), {
                        'message': $input.val(),
                        'from': {{ app.user.id }},
                        'to': receiverId
                    });
                    $input.val('');
                }
            });
        }

        function showChatWindow() {
           $(".box.box-primary.direct-chat.direct-chat-primary").show();
        }

        function appendRightMessage(element) {
            var $chatMessages = $('.direct-chat-messages');

            var $lastChild = $chatMessages
                .children()
                .last();

            if(element.side === 'right' && $lastChild.hasClass('right')) {
                if(element.time != null) {
                    $lastChild.append("<div class=\"direct-chat-info clearfix\">\n" +
                        "<span class=\"direct-chat-timestamp pull-left\">" + element.time + "</span>\n" +
                        "</div>")
                }
                $lastChild.append("<div class=\"direct-chat-text\">\n" + element.message + "</div>")

            } else if (element.side === 'right') {
                $chatMessages.append("<div class='direct-chat-msg right'></div>")
                $lastChild = $chatMessages
                    .children()
                    .last();

                $lastChild.append("<div class=\"direct-chat-info clearfix\">\n" +
                    "<span class=\"direct-chat-name pull-right\"></span>\n" +
                    "<span class=\"direct-chat-timestamp pull-left\"></span>\n" +
                    "</div>")
                $lastChild.find(".direct-chat-name.pull-left").text(element.to);
                if(element.time != null){
                    $lastChild.find(".direct-chat-timestamp.pull-right").text(element.time)
                }
                $lastChild.append("<img class=\"direct-chat-img\" src=\"https://ctvalleybrewing.com/wp-content/uploads/2017/04/avatar-placeholder.png\" alt=\"Message User Image\">");
                $lastChild.append("<div class=\"direct-chat-text\">\n" + element.message + "</div>")
            }

        }

        function appendLeftMessage(element) {
            var $chatMessages = $('.direct-chat-messages');

            var $lastChild = $chatMessages
                .children()
                .last();

            if(element.side === 'left' && !$lastChild.hasClass('right')) {
                if(element.time != null) {
                    $lastChild.append("<div class=\"direct-chat-info clearfix\">\n" +
                        "<span class=\"direct-chat-timestamp pull-right\">" + element.time + "</span>\n" +
                        "</div>")
                }
                $lastChild.append("<div class=\"direct-chat-text\">\n" + element.message + "</div>")

            } else if (element.side === 'left') {
                $chatMessages.append("<div class='direct-chat-msg'></div>")
                $lastChild = $chatMessages
                    .children()
                    .last();

                $lastChild.append("<div class=\"direct-chat-info clearfix\">\n" +
                    "<span class=\"direct-chat-name pull-left\"></span>\n" +
                    "<span class=\"direct-chat-timestamp pull-right\"></span>\n" +
                    "</div>")
                $lastChild.find(".direct-chat-name.pull-left").text(element.to);
                if(element.time != null){
                    $lastChild.find(".direct-chat-timestamp.pull-right").text(element.time)
                }
                $lastChild.append("<img class=\"direct-chat-img\" src=\"https://ctvalleybrewing.com/wp-content/uploads/2017/04/avatar-placeholder.png\" alt=\"Message User Image\">");
                $lastChild.append("<div class=\"direct-chat-text\">\n" + element.message + "</div>")
            }
        }

        function cleanMessages() {
            $('.direct-chat-messages').children().remove();
        }

        function setMessages(messages) {
            cleanMessages();
            messages.forEach(function (element) {

                if(element.side === 'right'){
                    appendRightMessage(element)
                } else if (element.side === 'left') {
                    appendLeftMessage(element)
                }
            })
        }

        function loadMessages(from, to) {
            var url = '{{ path("api_chat_messages", {'id': 'user_id'}) }}';
            url = url.replace("user_id", to);
            $.ajax({
                url: url,
                type: 'POST',
                processData: false,
                contentType: false,
                dataType: "json",
                success: function (data) {
                    setMessages(JSON.parse(data));
                }
            })
        }

        function onUserClick(session) {
            $("div.item").click(function () {
                subscribeToChannel(session, $(this).attr("user-id"));
                publishToChannel(session, $(this).attr("user-id"));
                showChatWindow();
                loadMessages("{{ app.user.id }}", $(this).attr("user-id"));
            })
        }

        function getUserStatusAndChange(payload) {
            var url = '{{ path("api_chat_is_offline", {'id': 'user_id'}) }}';
            url = url.replace("user_id", payload.left.id);
            $.ajax({
                url: url,
                type: 'POST',
                processData: false,
                contentType: false,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data == true) {
                        setUserStatusByPayloadFromWS(payload.left, "offline");
                    }
                }
            })
        }

        function delayUserStatusOfflineChange(payload) {
            setTimeout(function () {
                getUserStatusAndChange(payload);
            }, 300)
        }

        webSocket.on("socket/connect", function (session) {
            session.subscribe("active_users/channel", function (uri, payload) {
                console.log(payload);

                if (payload.joined) {
                    setUserStatusByPayloadFromWS(payload.joined, "online");
                }

                if (payload.left) {
                    delayUserStatusOfflineChange(payload);
                }
            });
            onUserClick(session);
        });

        webSocket.on("socket/disconnect", function (error) {
            //error provides us with some insight into the disconnection: error.reason and error.code

            console.log("Disconnected for " + error.reason + " with code " + error.code);
        })
    </script>
{% endblock %}